/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c1ffbb;
    height: 100%;
}

/* Header */
header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 600px) {
    main {
        width: 90%;
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

    * {box-sizing: border-box}
    
    /* Style tab links */
    .tablink {
      background-color: #555;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
      width: 25%;
    }
    
    .tablink:hover {
      background-color: #777;
    }
    
    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
      color: white;
      display: none;
      padding: 100px 20px;
      height: 100%;
    }
    
    #Home {background-color: rgb(0, 255, 179);}
    #Labs {background-color: rgb(84, 35, 94);}
    #Contact {background-color: rgb(96, 96, 114);}
    #About {background-color: orange;}
 